name: Grading

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    name: Build and Release
    strategy:
      fail-fast: false
      matrix:
        platform: 
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: grading
        run: |
          sudo apt-get update
