name: Automatic Casestudy Grading

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    name: Start Auto Grading
    strategy:
      fail-fast: false
      matrix:
        platform: 
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install Java
        run: sudo apt-get install -y default-jdk
      - name: Install Python Libraries
        run: |
          cd Python
          pip install -r requirements.txt
          python3 autograder.py
      - name: Upload Grading Results
        uses: actions/upload-artifact@v4
        with:
          name: grading-reports-package
          path: "*.xlsx"
          retention-days: 90